<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <h1>Complete Your Applicant Profile</h1>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="first_name" placeholder="First Name">
    <br><br>
    <input type="text" name="last_name" placeholder="Last Name">
    <br><br>
    <input type="text" name="school" placeholder="School">
    <br><br>
    <input type="text" name="degree" placeholder="Degree">
    <br><br>
    <input type="text" name="graduation_date" placeholder="Grad Date (MM/YYYY)">
    <br><br>
    <input type="text" name="experience" placeholder="Position">
    <br><br>
    <input type="text" name="description" placeholder="Details">
    <br><br>
    <input type="text" name="from" placeholder="From (MM/YYYY)">
    <br><br>
    <input type="text" name="to" placeholder="To (MM/YYYY)">
    <br><br>
    <input type="text" name="location" placeholder="zipcode">
    <br><br>
    <input type="submit" name="submit" value="Find Job Openings">
</form>

</body>
</html>