<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid19 Job Board</title>
    <h1>OPENINGS</h1>
    <h1><b><a href="/accounts/profile/">Profile</a></b></h1>
</head>
<body>

{% for opening in openings %}

<hr>

<div class="opening">
    Position: {{opening['title']}}
    <br>
    Job id: {{opening['opening_id']}}
    <br>
    Description: {{opening['description']}}
    <br>
    Urgency: {{opening['urgency']}}
    <br>
    <img src={{url_for('show_image', filename=opening['graph_filename'])}} alt=”graph”>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
         <input type="hidden" name="opening_id" value={{opening['opening_id']}}>
        <input type="submit" name="submit" value="Apply">
    </form>
</div>

<hr>
{% endfor %}

</body>
</html>