<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <h1>Create an Account</h1>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="email" placeholder="email@email.com">
    <br><br>
    <input type="text" name="password" placeholder="password">
    <br><br>
    <input type="text" name="password_again" placeholder="re-enter password">
    <br><br>
    Who are you?
    <br><br>
    <select id="account_type" name="account_type">
      <option value="Applicant">Applicant</option>
      <option value="Employer">Employer</option>
    </select>
    <br><br>
    <input type="submit" name="submit" value="sign up">
</form>

</body>
</html>